---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="Officers" url="/officers" description="" />
  </head>
  <body class="page-template page-officers with-alt-header has-serif-body">
    <div class="site">
      <Header />
      <div class="site-content">
        <div class="content-area">
          <main class="site-main">
            <article class="single post no-image">
              <header class="single-header kg-canvas">
                <h1 class="single-title">SRA Officers</h1>
              </header>
              <div class="single-content gh-content kg-canvas">
                <p>
                  The Student Radio Association is completely ran by volunteers,
                  who are appointed on a yearly basis. Helping run the SRA we
                  have:
                </p>
              </div>
            </article>
            <br />
            <h1 style="text-align:center">Executive Officers</h1>
            <div
              style="display:flex;flex-direction:column;width:100%;max-width:80ch;margin: 0 auto;padding:20px;gap:40px"
            >
              <div
                style="width:100%;display:grid;grid-template-columns:.5fr 1fr;gap:20px"
              >
                <img
                  src="https://studentradio.org.uk/content/images/2022/03/Danny-Humby.jpeg"
                  style="width:100%;border-radius:10px;aspect-ratio: 1;object-fit: cover;"
                />
                <div>
                  <h2 style="display:flex;">
                    Danny Humby
                    <span style="margin-left:auto"></span>
                    <a
                      href="/cdn-cgi/l/email-protection#8cefe4ede5feccfff8f9e8e9e2f8feede8e5e3a2e3feeba2f9e7"
                      style="margin-left:6px"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        style="height:1.2em;width:1.2em"
                        aria-label="Mail"
                        role="img"
                        viewBox="0 0 512 512"
                        ><rect width="512" height="512" rx="15%" fill="#328cff"
                        ></rect><path
                          d="m250 186c-46 0-69 35-69 74 0 44 29 72 68 72 43 0 73-32 73-75 0-44-34-71-72-71zm-1-37c30 0 57 13 77 33 0-22 35-22 35 1v150c-1 10 10 16 16 9 25-25 54-128-14-187-64-56-149-47-195-15-48 33-79 107-49 175 33 76 126 99 182 76 28-12 41 26 12 39-45 19-168 17-225-82-38-68-36-185 67-248 78-46 182-33 244 32 66 69 62 197-2 246-28 23-71 1-71-32v-11c-20 20-47 32-77 32-57 0-108-51-108-108 0-58 51-110 108-110"
                          fill="#fff"></path>
                      </svg>
                    </a>
                  </h2>
                  <h3>Chair</h3>
                  <p></p>
                </div>
              </div>
              <hr />
              <div
                style="width:100%;display:grid;grid-template-columns:.5fr 1fr;gap:20px"
              >
                <img
                  src="https://studentradio.org.uk/content/images/2022/10/IMG_4554.JPG"
                  style="width:100%;border-radius:10px;aspect-ratio: 1;object-fit: cover;"
                />
                <div>
                  <h2 style="display:flex;">
                    Hannah Willoughby
                    <span style="margin-left:auto"></span>
                    <a
                      href="/cdn-cgi/l/email-protection#9af7fbe8f1ffeef3f4fddae9eeeffefff4eee8fbfef3f5b4f5e8fdb4eff1"
                      style="margin-left:6px"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        style="height:1.2em;width:1.2em"
                        aria-label="Mail"
                        role="img"
                        viewBox="0 0 512 512"
                        ><rect width="512" height="512" rx="15%" fill="#328cff"
                        ></rect><path
                          d="m250 186c-46 0-69 35-69 74 0 44 29 72 68 72 43 0 73-32 73-75 0-44-34-71-72-71zm-1-37c30 0 57 13 77 33 0-22 35-22 35 1v150c-1 10 10 16 16 9 25-25 54-128-14-187-64-56-149-47-195-15-48 33-79 107-49 175 33 76 126 99 182 76 28-12 41 26 12 39-45 19-168 17-225-82-38-68-36-185 67-248 78-46 182-33 244 32 66 69 62 197-2 246-28 23-71 1-71-32v-11c-20 20-47 32-77 32-57 0-108-51-108-108 0-58 51-110 108-110"
                          fill="#fff"></path>
                      </svg>
                    </a>
                  </h2>
                  <h3>Marketing &amp; Communications Officer</h3>
                  <p></p>
                </div>
              </div>
              <hr />
              <div
                style="width:100%;display:grid;grid-template-columns:.5fr 1fr;gap:20px"
              >
                <img
                  src="https://studentradio.org.uk/content/images/2022/03/Holly-Markham.jpeg"
                  style="width:100%;border-radius:10px;aspect-ratio: 1;object-fit: cover;"
                />
                <div>
                  <h2 style="display:flex;">
                    Holly Markham
                    <span style="margin-left:auto"></span>
                    <a
                      href="/cdn-cgi/l/email-protection#4c24232020350c3f3839282922383e2d28252362233e2b623927"
                      style="margin-left:6px"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        style="height:1.2em;width:1.2em"
                        aria-label="Mail"
                        role="img"
                        viewBox="0 0 512 512"
                        ><rect width="512" height="512" rx="15%" fill="#328cff"
                        ></rect><path
                          d="m250 186c-46 0-69 35-69 74 0 44 29 72 68 72 43 0 73-32 73-75 0-44-34-71-72-71zm-1-37c30 0 57 13 77 33 0-22 35-22 35 1v150c-1 10 10 16 16 9 25-25 54-128-14-187-64-56-149-47-195-15-48 33-79 107-49 175 33 76 126 99 182 76 28-12 41 26 12 39-45 19-168 17-225-82-38-68-36-185 67-248 78-46 182-33 244 32 66 69 62 197-2 246-28 23-71 1-71-32v-11c-20 20-47 32-77 32-57 0-108-51-108-108 0-58 51-110 108-110"
                          fill="#fff"></path>
                      </svg>
                    </a>
                  </h2>
                  <h3>Operations Officer</h3>
                  <p></p>
                </div>
              </div>
              <hr />
              <div
                style="width:100%;display:grid;grid-template-columns:.5fr 1fr;gap:20px"
              >
                <img
                  src="https://studentradio.org.uk/content/images/2022/03/Hebe-Lawson.jpeg"
                  style="width:100%;border-radius:10px;aspect-ratio: 1;object-fit: cover;"
                />
                <div>
                  <h2 style="display:flex;">
                    Hebe Lawson
                    <span style="margin-left:auto"></span>
                    <a
                      href="/cdn-cgi/l/email-protection#7e161b1c1b3e0d0a0b1a1b100a0c1f1a171150110c19500b15"
                      style="margin-left:6px"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        style="height:1.2em;width:1.2em"
                        aria-label="Mail"
                        role="img"
                        viewBox="0 0 512 512"
                        ><rect width="512" height="512" rx="15%" fill="#328cff"
                        ></rect><path
                          d="m250 186c-46 0-69 35-69 74 0 44 29 72 68 72 43 0 73-32 73-75 0-44-34-71-72-71zm-1-37c30 0 57 13 77 33 0-22 35-22 35 1v150c-1 10 10 16 16 9 25-25 54-128-14-187-64-56-149-47-195-15-48 33-79 107-49 175 33 76 126 99 182 76 28-12 41 26 12 39-45 19-168 17-225-82-38-68-36-185 67-248 78-46 182-33 244 32 66 69 62 197-2 246-28 23-71 1-71-32v-11c-20 20-47 32-77 32-57 0-108-51-108-108 0-58 51-110 108-110"
                          fill="#fff"></path>
                      </svg>
                    </a>
                  </h2>
                  <h3>Network Officer</h3>
                  <p></p>
                </div>
              </div>
              <hr />
            </div>
            <h1 style="text-align:center">Admin Officers</h1>
            <div
              style="display:flex;flex-direction:column;width:100%;max-width:80ch;margin: 0 auto;padding:20px;gap:40px"
            >
              <div
                style="width:100%;display:grid;grid-template-columns:.5fr 1fr;gap:20px"
              >
                <img
                  src="https://studentradio.org.uk/content/images/2022/03/Imogen-Brewer.jpeg"
                  style="width:100%;border-radius:10px;aspect-ratio: 1;object-fit: cover;"
                />
                <div>
                  <h2 style="display:flex;">
                    Imogen Brewer
                    <span style="margin-left:auto"></span>
                    <a
                      href="/cdn-cgi/l/email-protection#036a6e6c64666d4370777667666d777162676a6c2d6c71642d7668"
                      style="margin-left:6px"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        style="height:1.2em;width:1.2em"
                        aria-label="Mail"
                        role="img"
                        viewBox="0 0 512 512"
                        ><rect width="512" height="512" rx="15%" fill="#328cff"
                        ></rect><path
                          d="m250 186c-46 0-69 35-69 74 0 44 29 72 68 72 43 0 73-32 73-75 0-44-34-71-72-71zm-1-37c30 0 57 13 77 33 0-22 35-22 35 1v150c-1 10 10 16 16 9 25-25 54-128-14-187-64-56-149-47-195-15-48 33-79 107-49 175 33 76 126 99 182 76 28-12 41 26 12 39-45 19-168 17-225-82-38-68-36-185 67-248 78-46 182-33 244 32 66 69 62 197-2 246-28 23-71 1-71-32v-11c-20 20-47 32-77 32-57 0-108-51-108-108 0-58 51-110 108-110"
                          fill="#fff"></path>
                      </svg>
                    </a>
                  </h2>
                  <h3>Alumni Officer</h3>
                  <p></p>
                </div>
              </div>
              <hr />
              <div
                style="width:100%;display:grid;grid-template-columns:.5fr 1fr;gap:20px"
              >
                <img
                  src="https://studentradio.org.uk/content/images/2022/03/Katie-Fox.jpeg"
                  style="width:100%;border-radius:10px;aspect-ratio: 1;object-fit: cover;"
                />
                <div>
                  <h2 style="display:flex;">
                    Katie Fox
                    <span style="margin-left:auto"></span>
                    <a
                      href="/cdn-cgi/l/email-protection#96fdf7e2fff3d6e5e2e3f2f3f8e2e4f7f2fff9b8f9e4f1b8e3fd"
                      style="margin-left:6px"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        style="height:1.2em;width:1.2em"
                        aria-label="Mail"
                        role="img"
                        viewBox="0 0 512 512"
                        ><rect width="512" height="512" rx="15%" fill="#328cff"
                        ></rect><path
                          d="m250 186c-46 0-69 35-69 74 0 44 29 72 68 72 43 0 73-32 73-75 0-44-34-71-72-71zm-1-37c30 0 57 13 77 33 0-22 35-22 35 1v150c-1 10 10 16 16 9 25-25 54-128-14-187-64-56-149-47-195-15-48 33-79 107-49 175 33 76 126 99 182 76 28-12 41 26 12 39-45 19-168 17-225-82-38-68-36-185 67-248 78-46 182-33 244 32 66 69 62 197-2 246-28 23-71 1-71-32v-11c-20 20-47 32-77 32-57 0-108-51-108-108 0-58 51-110 108-110"
                          fill="#fff"></path>
                      </svg>
                    </a>
                  </h2>
                  <h3>Music Officer</h3>
                  <p></p>
                </div>
              </div>
              <hr />
              <div
                style="width:100%;display:grid;grid-template-columns:.5fr 1fr;gap:20px"
              >
                <img
                  src="https://studentradio.org.uk/content/images/2022/03/Leo-Joslin.jpeg"
                  style="width:100%;border-radius:10px;aspect-ratio: 1;object-fit: cover;"
                />
                <div>
                  <h2 style="display:flex;">
                    Leo Joslin
                    <span style="margin-left:auto"></span>
                    <a
                      href="/cdn-cgi/l/email-protection#85e9e0eac5f6f1f0e1e0ebf1f7e4e1eceaabeaf7e2abf0ee"
                      style="margin-left:6px"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        style="height:1.2em;width:1.2em"
                        aria-label="Mail"
                        role="img"
                        viewBox="0 0 512 512"
                        ><rect width="512" height="512" rx="15%" fill="#328cff"
                        ></rect><path
                          d="m250 186c-46 0-69 35-69 74 0 44 29 72 68 72 43 0 73-32 73-75 0-44-34-71-72-71zm-1-37c30 0 57 13 77 33 0-22 35-22 35 1v150c-1 10 10 16 16 9 25-25 54-128-14-187-64-56-149-47-195-15-48 33-79 107-49 175 33 76 126 99 182 76 28-12 41 26 12 39-45 19-168 17-225-82-38-68-36-185 67-248 78-46 182-33 244 32 66 69 62 197-2 246-28 23-71 1-71-32v-11c-20 20-47 32-77 32-57 0-108-51-108-108 0-58 51-110 108-110"
                          fill="#fff"></path>
                      </svg>
                    </a>
                  </h2>
                  <h3>Dept. Events Officer</h3>
                  <p></p>
                </div>
              </div>
              <hr />
              <div
                style="width:100%;display:grid;grid-template-columns:.5fr 1fr;gap:20px"
              >
                <img
                  src="https://studentradio.org.uk/content/images/2022/03/Emma-Linton.jpeg"
                  style="width:100%;border-radius:10px;aspect-ratio: 1;object-fit: cover;"
                />
                <div>
                  <h2 style="display:flex;">
                    Emma Linton
                    <span style="margin-left:auto"></span>
                    <a
                      href="/cdn-cgi/l/email-protection#8eebe3e3efcefdfafbeaebe0fafcefeae7e1a0e1fce9a0fbe5"
                      style="margin-left:6px"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        style="height:1.2em;width:1.2em"
                        aria-label="Mail"
                        role="img"
                        viewBox="0 0 512 512"
                        ><rect width="512" height="512" rx="15%" fill="#328cff"
                        ></rect><path
                          d="m250 186c-46 0-69 35-69 74 0 44 29 72 68 72 43 0 73-32 73-75 0-44-34-71-72-71zm-1-37c30 0 57 13 77 33 0-22 35-22 35 1v150c-1 10 10 16 16 9 25-25 54-128-14-187-64-56-149-47-195-15-48 33-79 107-49 175 33 76 126 99 182 76 28-12 41 26 12 39-45 19-168 17-225-82-38-68-36-185 67-248 78-46 182-33 244 32 66 69 62 197-2 246-28 23-71 1-71-32v-11c-20 20-47 32-77 32-57 0-108-51-108-108 0-58 51-110 108-110"
                          fill="#fff"></path>
                      </svg>
                    </a>
                  </h2>
                  <h3>Dept. Events Officer</h3>
                  <p></p>
                </div>
              </div>
              <hr />
              <div
                style="width:100%;display:grid;grid-template-columns:.5fr 1fr;gap:20px"
              >
                <img
                  src="https://studentradio.org.uk/content/images/2022/03/Ben-Swift.jpeg"
                  style="width:100%;border-radius:10px;aspect-ratio: 1;object-fit: cover;"
                />
                <div>
                  <h2 style="display:flex;">
                    Ben Swift
                    <span style="margin-left:auto"></span>
                    <a
                      href="/cdn-cgi/l/email-protection#c8adbeada6bcbbe5bcadaba088bbbcbdacada6bcbaa9aca1a7e6a7baafe6bda3"
                      style="margin-left:6px"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        style="height:1.2em;width:1.2em"
                        aria-label="Mail"
                        role="img"
                        viewBox="0 0 512 512"
                        ><rect width="512" height="512" rx="15%" fill="#328cff"
                        ></rect><path
                          d="m250 186c-46 0-69 35-69 74 0 44 29 72 68 72 43 0 73-32 73-75 0-44-34-71-72-71zm-1-37c30 0 57 13 77 33 0-22 35-22 35 1v150c-1 10 10 16 16 9 25-25 54-128-14-187-64-56-149-47-195-15-48 33-79 107-49 175 33 76 126 99 182 76 28-12 41 26 12 39-45 19-168 17-225-82-38-68-36-185 67-248 78-46 182-33 244 32 66 69 62 197-2 246-28 23-71 1-71-32v-11c-20 20-47 32-77 32-57 0-108-51-108-108 0-58 51-110 108-110"
                          fill="#fff"></path>
                      </svg>
                    </a>
                  </h2>
                  <h3>Events Tech Officer</h3>
                  <p></p>
                </div>
              </div>
              <hr />
              <div
                style="width:100%;display:grid;grid-template-columns:.5fr 1fr;gap:20px"
              >
                <img
                  src="https://studentradio.org.uk/content/images/2022/03/Samuel-Macleod.jpeg"
                  style="width:100%;border-radius:10px;aspect-ratio: 1;object-fit: cover;"
                />
                <div>
                  <h2 style="display:flex;">
                    Samuel Macleod
                    <span style="margin-left:auto"></span>
                    <a
                      href="/cdn-cgi/l/email-protection#156674786070795566616071707b616774717c7a3b7a67723b607e"
                      style="margin-left:6px"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        style="height:1.2em;width:1.2em"
                        aria-label="Mail"
                        role="img"
                        viewBox="0 0 512 512"
                        ><rect width="512" height="512" rx="15%" fill="#328cff"
                        ></rect><path
                          d="m250 186c-46 0-69 35-69 74 0 44 29 72 68 72 43 0 73-32 73-75 0-44-34-71-72-71zm-1-37c30 0 57 13 77 33 0-22 35-22 35 1v150c-1 10 10 16 16 9 25-25 54-128-14-187-64-56-149-47-195-15-48 33-79 107-49 175 33 76 126 99 182 76 28-12 41 26 12 39-45 19-168 17-225-82-38-68-36-185 67-248 78-46 182-33 244 32 66 69 62 197-2 246-28 23-71 1-71-32v-11c-20 20-47 32-77 32-57 0-108-51-108-108 0-58 51-110 108-110"
                          fill="#fff"></path>
                      </svg>
                    </a>
                  </h2>
                  <h3>Tech Dev Officer</h3>
                  <p></p>
                </div>
              </div>
              <hr />
              <div
                style="width:100%;display:grid;grid-template-columns:.5fr 1fr;gap:20px"
              >
                <img
                  src="https://studentradio.org.uk/content/images/2022/10/IMG_0105.JPG"
                  style="width:100%;border-radius:10px;aspect-ratio: 1;object-fit: cover;"
                />
                <div>
                  <h2 style="display:flex;">
                    Liam Daly
                    <span style="margin-left:auto"></span>
                    <a
                      href="/cdn-cgi/l/email-protection#c6aaafa7ab86b5b2b3a2a3a8b2b4a7a2afa9e8a9b4a1e8b3ad"
                      style="margin-left:6px"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        style="height:1.2em;width:1.2em"
                        aria-label="Mail"
                        role="img"
                        viewBox="0 0 512 512"
                        ><rect width="512" height="512" rx="15%" fill="#328cff"
                        ></rect><path
                          d="m250 186c-46 0-69 35-69 74 0 44 29 72 68 72 43 0 73-32 73-75 0-44-34-71-72-71zm-1-37c30 0 57 13 77 33 0-22 35-22 35 1v150c-1 10 10 16 16 9 25-25 54-128-14-187-64-56-149-47-195-15-48 33-79 107-49 175 33 76 126 99 182 76 28-12 41 26 12 39-45 19-168 17-225-82-38-68-36-185 67-248 78-46 182-33 244 32 66 69 62 197-2 246-28 23-71 1-71-32v-11c-20 20-47 32-77 32-57 0-108-51-108-108 0-58 51-110 108-110"
                          fill="#fff"></path>
                      </svg>
                    </a>
                  </h2>
                  <h3>Chart Officer</h3>
                  <p></p>
                </div>
              </div>
              <hr />
              <div
                style="width:100%;display:grid;grid-template-columns:.5fr 1fr;gap:20px"
              >
                <img
                  src="https://studentradio.org.uk/content/images/2022/03/Jack-Corbett.jpeg"
                  style="width:100%;border-radius:10px;aspect-ratio: 1;object-fit: cover;"
                />
                <div>
                  <h2 style="display:flex;">
                    Jack Corbett
                    <span style="margin-left:auto"></span>
                    <a
                      href="/cdn-cgi/l/email-protection#e882898b83a89b9c9d8c8d869c9a898c8187c6879a8fc69d83"
                      style="margin-left:6px"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        style="height:1.2em;width:1.2em"
                        aria-label="Mail"
                        role="img"
                        viewBox="0 0 512 512"
                        ><rect width="512" height="512" rx="15%" fill="#328cff"
                        ></rect><path
                          d="m250 186c-46 0-69 35-69 74 0 44 29 72 68 72 43 0 73-32 73-75 0-44-34-71-72-71zm-1-37c30 0 57 13 77 33 0-22 35-22 35 1v150c-1 10 10 16 16 9 25-25 54-128-14-187-64-56-149-47-195-15-48 33-79 107-49 175 33 76 126 99 182 76 28-12 41 26 12 39-45 19-168 17-225-82-38-68-36-185 67-248 78-46 182-33 244 32 66 69 62 197-2 246-28 23-71 1-71-32v-11c-20 20-47 32-77 32-57 0-108-51-108-108 0-58 51-110 108-110"
                          fill="#fff"></path>
                      </svg>
                    </a>
                  </h2>
                  <h3>Chart Officer</h3>
                  <p></p>
                </div>
              </div>
              <hr />
            </div>
            <h1 style="text-align:center">Regional Officers</h1>
            <div
              style="display:flex;flex-direction:column;width:100%;max-width:80ch;margin: 0 auto;padding:20px;gap:40px"
            >
              <div
                style="width:100%;display:grid;grid-template-columns:.5fr 1fr;gap:20px"
              >
                <img
                  src="https://studentradio.org.uk/content/images/2022/10/WhatsApp-Image-2022-10-16-at-11.12.14-PM.jpeg"
                  style="width:100%;border-radius:10px;aspect-ratio: 1;object-fit: cover;"
                />
                <div>
                  <h2 style="display:flex;">
                    Seb Cheer
                    <span style="margin-left:auto"></span>
                    <a
                      href="/cdn-cgi/l/email-protection#d8abbdba98abacadbcbdb6acaab9bcb1b7f6b7aabff6adb3"
                      style="margin-left:6px"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        style="height:1.2em;width:1.2em"
                        aria-label="Mail"
                        role="img"
                        viewBox="0 0 512 512"
                        ><rect width="512" height="512" rx="15%" fill="#328cff"
                        ></rect><path
                          d="m250 186c-46 0-69 35-69 74 0 44 29 72 68 72 43 0 73-32 73-75 0-44-34-71-72-71zm-1-37c30 0 57 13 77 33 0-22 35-22 35 1v150c-1 10 10 16 16 9 25-25 54-128-14-187-64-56-149-47-195-15-48 33-79 107-49 175 33 76 126 99 182 76 28-12 41 26 12 39-45 19-168 17-225-82-38-68-36-185 67-248 78-46 182-33 244 32 66 69 62 197-2 246-28 23-71 1-71-32v-11c-20 20-47 32-77 32-57 0-108-51-108-108 0-58 51-110 108-110"
                          fill="#fff"></path>
                      </svg>
                    </a>
                  </h2>
                  <h3>North East</h3>
                  <p></p>
                </div>
              </div>
              <hr />
              <div
                style="width:100%;display:grid;grid-template-columns:.5fr 1fr;gap:20px"
              >
                <img
                  src="https://studentradio.org.uk/content/images/2022/03/Ellen-Macleod.jpeg"
                  style="width:100%;border-radius:10px;aspect-ratio: 1;object-fit: cover;"
                />
                <div>
                  <h2 style="display:flex;">
                    Ellen Macleod
                    <span style="margin-left:auto"></span>
                    <a
                      href="/cdn-cgi/l/email-protection#77121b1b121937040302131219030516131e185918051059021c"
                      style="margin-left:6px"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        style="height:1.2em;width:1.2em"
                        aria-label="Mail"
                        role="img"
                        viewBox="0 0 512 512"
                        ><rect width="512" height="512" rx="15%" fill="#328cff"
                        ></rect><path
                          d="m250 186c-46 0-69 35-69 74 0 44 29 72 68 72 43 0 73-32 73-75 0-44-34-71-72-71zm-1-37c30 0 57 13 77 33 0-22 35-22 35 1v150c-1 10 10 16 16 9 25-25 54-128-14-187-64-56-149-47-195-15-48 33-79 107-49 175 33 76 126 99 182 76 28-12 41 26 12 39-45 19-168 17-225-82-38-68-36-185 67-248 78-46 182-33 244 32 66 69 62 197-2 246-28 23-71 1-71-32v-11c-20 20-47 32-77 32-57 0-108-51-108-108 0-58 51-110 108-110"
                          fill="#fff"></path>
                      </svg>
                    </a>
                  </h2>
                  <h3>North West &amp; North Wales</h3>
                  <p></p>
                </div>
              </div>
              <hr />
              <div
                style="width:100%;display:grid;grid-template-columns:.5fr 1fr;gap:20px"
              >
                <img
                  src="https://studentradio.org.uk/content/images/2022/03/Josh-Dodd.jpeg"
                  style="width:100%;border-radius:10px;aspect-ratio: 1;object-fit: cover;"
                />
                <div>
                  <h2 style="display:flex;">
                    Joshua Dodd
                    <span style="margin-left:auto"></span>
                    <a
                      href="/cdn-cgi/l/email-protection#8ae0e5f9e2ffebcaf9feffeeefe4fef8ebeee3e5a4e5f8eda4ffe1"
                      style="margin-left:6px"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        style="height:1.2em;width:1.2em"
                        aria-label="Mail"
                        role="img"
                        viewBox="0 0 512 512"
                        ><rect width="512" height="512" rx="15%" fill="#328cff"
                        ></rect><path
                          d="m250 186c-46 0-69 35-69 74 0 44 29 72 68 72 43 0 73-32 73-75 0-44-34-71-72-71zm-1-37c30 0 57 13 77 33 0-22 35-22 35 1v150c-1 10 10 16 16 9 25-25 54-128-14-187-64-56-149-47-195-15-48 33-79 107-49 175 33 76 126 99 182 76 28-12 41 26 12 39-45 19-168 17-225-82-38-68-36-185 67-248 78-46 182-33 244 32 66 69 62 197-2 246-28 23-71 1-71-32v-11c-20 20-47 32-77 32-57 0-108-51-108-108 0-58 51-110 108-110"
                          fill="#fff"></path>
                      </svg>
                    </a>
                  </h2>
                  <h3>South</h3>
                  <p></p>
                </div>
              </div>
              <hr />
              <div
                style="width:100%;display:grid;grid-template-columns:.5fr 1fr;gap:20px"
              >
                <img
                  src="https://studentradio.org.uk/content/images/2022/10/Cameron-Conner.jpeg"
                  style="width:100%;border-radius:10px;aspect-ratio: 1;object-fit: cover;"
                />
                <div>
                  <h2 style="display:flex;">
                    Cameron Conner
                    <span style="margin-left:auto"></span>
                    <a
                      href="/cdn-cgi/l/email-protection#6d0e0c00081f02032d1e1918090803191f0c09040243021f0a431806"
                      style="margin-left:6px"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        style="height:1.2em;width:1.2em"
                        aria-label="Mail"
                        role="img"
                        viewBox="0 0 512 512"
                        ><rect width="512" height="512" rx="15%" fill="#328cff"
                        ></rect><path
                          d="m250 186c-46 0-69 35-69 74 0 44 29 72 68 72 43 0 73-32 73-75 0-44-34-71-72-71zm-1-37c30 0 57 13 77 33 0-22 35-22 35 1v150c-1 10 10 16 16 9 25-25 54-128-14-187-64-56-149-47-195-15-48 33-79 107-49 175 33 76 126 99 182 76 28-12 41 26 12 39-45 19-168 17-225-82-38-68-36-185 67-248 78-46 182-33 244 32 66 69 62 197-2 246-28 23-71 1-71-32v-11c-20 20-47 32-77 32-57 0-108-51-108-108 0-58 51-110 108-110"
                          fill="#fff"></path>
                      </svg>
                    </a>
                  </h2>
                  <h3>Scotland</h3>
                  <p></p>
                </div>
              </div>
              <hr />
              <div
                style="width:100%;display:grid;grid-template-columns:.5fr 1fr;gap:20px"
              >
                <img
                  src="https://studentradio.org.uk/content/images/2022/10/Enric-Thier.jpeg"
                  style="width:100%;border-radius:10px;aspect-ratio: 1;object-fit: cover;"
                />
                <div>
                  <h2 style="display:flex;">
                    Enric Thier
                    <span style="margin-left:auto"></span>
                    <a
                      href="/cdn-cgi/l/email-protection#3a5f544853597a494e4f5e5f544e485b5e53551455485d144f51"
                      style="margin-left:6px"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        style="height:1.2em;width:1.2em"
                        aria-label="Mail"
                        role="img"
                        viewBox="0 0 512 512"
                        ><rect width="512" height="512" rx="15%" fill="#328cff"
                        ></rect><path
                          d="m250 186c-46 0-69 35-69 74 0 44 29 72 68 72 43 0 73-32 73-75 0-44-34-71-72-71zm-1-37c30 0 57 13 77 33 0-22 35-22 35 1v150c-1 10 10 16 16 9 25-25 54-128-14-187-64-56-149-47-195-15-48 33-79 107-49 175 33 76 126 99 182 76 28-12 41 26 12 39-45 19-168 17-225-82-38-68-36-185 67-248 78-46 182-33 244 32 66 69 62 197-2 246-28 23-71 1-71-32v-11c-20 20-47 32-77 32-57 0-108-51-108-108 0-58 51-110 108-110"
                          fill="#fff"></path>
                      </svg>
                    </a>
                  </h2>
                  <h3>London &amp; South East</h3>
                  <p></p>
                </div>
              </div>
              <hr />
            </div>
          </main>
        </div>
      </div>
      <footer class="site-footer container">
        <div class="footer-inner">
          <div class="footer-left">
            <div class="copyright">Student Radio Association</div>
          </div>
          <div class="footer-right">
            <div class="social">
              <a
                class="social-item social-item-facebook"
                href="https://www.facebook.com/studentradio"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Facebook"
              >
                <svg
                  class="icon"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    d="M23.9981 11.9991C23.9981 5.37216 18.626 0 11.9991 0C5.37216 0 0 5.37216 0 11.9991C0 17.9882 4.38789 22.9522 10.1242 23.8524V15.4676H7.07758V11.9991H10.1242V9.35553C10.1242 6.34826 11.9156 4.68714 14.6564 4.68714C15.9692 4.68714 17.3424 4.92149 17.3424 4.92149V7.87439H15.8294C14.3388 7.87439 13.8739 8.79933 13.8739 9.74824V11.9991H17.2018L16.6698 15.4676H13.8739V23.8524C19.6103 22.9522 23.9981 17.9882 23.9981 11.9991Z"
                  ></path>
                </svg>
              </a>
              <a
                class="social-item social-item-twitter"
                href="https://twitter.com/SRA"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Twitter"
              >
                <svg
                  class="icon"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.951.555-2.005.959-3.127 1.184-.896-.959-2.173-1.559-3.591-1.559-2.717 0-4.92 2.203-4.92 4.917 0 .39.045.765.127 1.124C7.691 8.094 4.066 6.13 1.64 3.161c-.427.722-.666 1.561-.666 2.475 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.377 4.604 3.417-1.68 1.319-3.809 2.105-6.102 2.105-.39 0-.779-.023-1.17-.067 2.189 1.394 4.768 2.209 7.557 2.209 9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63.961-.689 1.8-1.56 2.46-2.548l-.047-.02z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </footer>
      <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>

        <div class="pswp__scroll-wrap">
          <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
          </div>

          <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
              <div class="pswp__counter"></div>
              <button
                class="pswp__button pswp__button--close"
                title="Close (Esc)"></button>
              <button class="pswp__button pswp__button--share" title="Share"
              ></button>
              <button
                class="pswp__button pswp__button--fs"
                title="Toggle fullscreen"></button>
              <button
                class="pswp__button pswp__button--zoom"
                title="Zoom in/out"></button>

              <div class="pswp__preloader">
                <div class="pswp__preloader__icn">
                  <div class="pswp__preloader__cut">
                    <div class="pswp__preloader__donut"></div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap"
            >
              <div class="pswp__share-tooltip"></div>
            </div>
            <button
              class="pswp__button pswp__button--arrow--left"
              title="Previous (arrow left)"></button>
            <button
              class="pswp__button pswp__button--arrow--right"
              title="Next (arrow right)"></button>
            <div class="pswp__caption">
              <div class="pswp__caption__center"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      data-cfasync="false"
      src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script><script>
      if (
        document.body.classList.contains("with-full-cover") &&
        /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.platform)
      ) {
        document.getElementsByClassName("cover")[0].style.height =
          window.innerHeight + "px";
      }
    </script>
    <script src="/assets/built/main.min.js" is:inline></script>
  </body>
</html>
